*{
    margin: 0;
    padding: 0;
}
.header-container{
   
    background-color:rgba(229, 84, 115, 0.10);
    height: 730px;
     
}

.header-description{
 width: 1450px; 
 margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}
.header-text{
    width: 800px;
    margin-left: 180px;
}
.bold-text{
    font-family: Lato;
    font-size:60px ;
    font-weight:800 ;
    margin-bottom: 20px;
}
.normal-text{
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom:20px;
}
.header-image img{
    height: 725px;
    width: 635px;
}
/* .header-image{
    margin-left: 20px
} */
.btn{
    font-family: Lato;
    font-size: 17px;
    font-weight: 600;
    padding:20px 43px ;
    border-radius: 8px;
background: #E55473;
color: white;
border: none;
}

/* main section css */
.section-one{
width: 1170px;
margin: 0 auto;
margin-top: 100px;
margin-bottom: 350px;
height: 500px;
}
.section-description{
text-align: center;
}
.section-description h1{
    font-family: Lato;
    color: #272727;
    font-size: 40px;
    font-weight: 800px;
    margin-bottom: 20px;
}
.section-description p{
    font-family: Lato;
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    line-height: 30px;
}


.flower-pic-container{
    display: flex;
    margin-top: 50px;
    /* margin-left: 180px; */
    
    gap: 22px;
}
.flower-pic-container h2{
    margin-top: 50px;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
}

.bg-flower-one{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 460px;
    width: 380px;
    align-items: center;
    
}
.bg-flower-one img{
    margin-top: 120px;
    margin-bottom: 0px;
    height: 340px;
    width: 280px;
    padding-left: 30px;
    }
.bg-flower-two img{
        margin-top: 100px;
        margin-bottom: 20px;
        height: 340px;
        width: 280px;
        padding-left: 40px;
     }
.bg-flower-three img{
            margin-top: 120px;
            margin-bottom: 0px;
            height: 340px;
            width: 280px;
            padding-left: 30px;
 }
   
.bg-flower-two{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15); 
    height: 460px;
    width: 380px;
    align-items: center;
}
.bg-flower-three{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15); 
    height: 460px;
    width: 380px;
    align-items: center;
}

/* extra section */
.exta-section-container{
   
    width: 1170px;
    margin: 0 auto;
    height: 550px;
    background: #d5e4f0;
    margin-bottom: 200px;
    
}

.exta-section{
    margin-top: 600px;
    padding-top: 20px;
}
.text-about{
    margin-top: 30px;
    text-align: center;
}
.text-about h1{
    padding-top: 20px;
    margin-top: 30px;
    font-family: Lato;
    font-weight: 700;
}
.text-about h5{
    margin-top: 30px;
    font-size: 20px;
    font-family: Lato;
    font-weight: 700;
}

.flower-container{
    padding-top: 30px;
    /* width: 80%; */
    display: flex;
    align-items: center;
    gap: 15px;
    /* margin: auto; */
}
.flower-container img{
    height: 300px;
    width: 281px;
}
.text-under-flower{
    text-align: center;
    font-size: 17px;
    font-family: Lato;
    font-weight: 600;
}

/* section two */
.section-two{
    width: 1170px;
    margin: 0 auto;
    background: rgba(39, 39, 39, 0.05);
    /* margin-top: 150px; */
    /* margin-left: 180px; */
    display: flex;
    justify-content: space-around;
    padding: 25px;
    /* width: 74%; */
    height: 200px;
    align-items: center;
    border-radius: 5px;
}
/* .section-two div img{
   align-items: center;
} */

/* offer section */

.offer-section-container{
    height: 500px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 200px;
}
.offer-section{
    width: 1450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 60px;
    justify-content: space-around;
    border-radius: 8px;
    
}
.text-part{
    width: 500px;
    /* margin-left: 600px; */
    /* padding-left: 100px; */
    text-align: center;

}
.text-part h1{
    margin-bottom: 30px;
    color: #272727;
font-family: Lato;
font-size: 35px;

font-weight: 800;

}
.text-part p{
    margin-bottom: 30px;
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
}
.off-color{
    color: #E55473;
}
.text-part button{
    margin-bottom: 30px;
}
.offer-section img{
    /* margin-right: 600px; */
    /* padding-right: 120px; */
    height: 350px;
    width: 280px;   
}

/* instagram section */
.instagram-container{
    width: 1170px;
    margin: 0 auto;
    height: 600px;
    /* margin-left: 150px;
    align-items: center;  */
    background: #FFF;
    margin-top: 128px;
    

}
.instagram-text h1{
    text-align: center;
    color: #272727;
font-family: Lato;
font-size: 40px;
font-weight: 800;
}
.instagram-text p{
    text-align: center;
    margin-top: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;

}
.instagram-image{
    margin-top: 30px;
    /* padding-left: 40px; */
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.insta-image{
    width: 270px;
height: 300px;
}
/* deals section */
.deals-section{
    background-image: url("flower asset/Rectangle 9.png");
    background-position: center;
    width: 1170px;
    margin: 0 auto;
height: 449px;
border-radius: 10px;
}

.deals-section h1{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;

}
.deals-section p{
    margin-top: 30px;
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
}
.deals-container{
    padding: 100px 100px;
    align-items: center;
}
.email{
    margin-top:100px;
    margin-left: 130px;
    width: 700px;
    gap: 20px;
    text-align: center;
}
input{
    width: 500px;
height: 50px;
border-radius: 8px;
border: none;
padding-left: 20px;
}

.email button{
    background-color: #E55473;
    color: #FFF;
    width: 150px;
    font-family: Lato;
    font-weight: 700;
height: 50px;
border-radius: 8px;
border: none;
margin-right: 5px;
margin-top: 5px;
}
/* footer section */
footer{
    margin-top: 100px;
    
}
.footer-container{
    height: 349px;
    align-items: center;
  
color: #FFF;
background: #111010;

}
.footer-container h1{
    text-align: center;
    padding-top: 80px;
    font-family: Lato;
font-size: 48px;
font-weight: 800;
}
.footer-container p{
    margin-top: 30px;
color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.footer-container .copyright{
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-weight: 400;
}
.color-text{
    color: #E55473;

}

