*{
    margin: 0;
    padding: 0;
}
.header-container{
    background-color:rgba(229, 84, 115, 0.10);
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-description{
    width: 550px;
    margin-top: 30px;
    gap: 30px;
    padding-left: 100px;
}
.bold-text{
    font-size:60px ;
    font-weight:800 ;
    font-family: ;
    margin-bottom: 20px;
}
.normal-text{
    font-size: 18px;
    font-weight: 400;
    margin-bottom:20px;
}
.header-image img{
    height: 725px;
    width: 635px;
}
.header-image{
    padding-right: 100px;
}
.btn{
    font-size: 17px;
    font-weight: 600;
    padding:20px 43px ;
    border-radius: 8px;
background: #E55473;
color: white;
border: none;
}
